@import "tailwindcss";

:root {
  --color-primary: #5932ea;
  --color-primary-dark: #4925e9;
  --color-background: #fafbff;
  --color-white: #ffffff;
  --color-black: #000000;
  --color-gray-100: #f9fbff;
  --color-gray-200: #f5f5f5;
  --color-gray-300: #eeeeee;
  --color-gray-400: #b5b7c0;
  --color-gray-500: #9197b3;
  --color-gray-600: #757575;
  --color-gray-700: #7e7e7e;
  --color-gray-800: #404b52;
  --color-gray-900: #292d32;
  --color-green-light: rgba(22, 192, 152, 0.38);
  --color-green: #00b087;
  --color-green-dark: #008767;
  --color-red-light: #ffc5c5;
  --color-red: #df0404;
  --color-shadow: rgba(226, 236, 249, 0.5);
  --color-accent: #acacac;
  --color-success: #00ac4f;
  --color-error: #d0004b;
  --color-pro-gradient-start: #eaabf0;
  --color-pro-gradient-end: #4623e9;
}

* {
  box-sizing: border-box;
}

::-webkit-scrollbar {
  width: 0.2rem;
  height: 0.2rem;
}
::-webkit-scrollbar-thumb {
  background-color: var(--background-secondary);
}
::-webkit-scrollbar-track {
  background-color: #f1f1f1;
}
body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
ol,
li,
dl,
dt,
dd,
blockquote,
figure {
  padding: 0;
  margin: 0;
}
button,
input[type="checkbox"] {
  cursor: pointer;
  font-weight: 500;
}
